<a href="/paintings">Paintings</a>
<h1>All Artists</h1>
<table>
<tr>
  <th>Artist Name</th>
  <th>Created at</th>
</tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%= artist.name %> </td>
    <td><%= artist.created_at %> </td>
  </tr>
<% end %>
</table>
<%= link_to "New Artist", "/artists/new" %>