<a href="/paintings">Paintings</a>
<h1>All Artists</h1>
<% @artists.each do |artist| %>
  <p>Artist: <%= artist.name %> Created at: <%= artist.created_at %> <%= button_to "Edit #{artist.name}", "/artists/#{artist.id}/edit", method: :get %></p> 
<% end %>

<%= link_to "New Artist", "/artists/new" %>