<a href="/artists">Artists</a> <a href="/paintings">Paintings</a>
<h1>Painting Info</h1>
<p>Painting name: <%= @painting.name %></p>
<p>Year painted: <%= @painting.year_painted %></p>
<p>Oil painting?: <%= @painting.oil_painting %></p>
<p><%= link_to "Update #{@painting.name}", "/paintings/#{@painting.id}/edit", method: :get %></p>