<a href="/artists">Artists</a> <a href="/paintings">Paintings</a>
<h1>Artist's Paintings</h1>
<% @paintings.each do |paiting|  %>
<p>Painting name: <%= paiting.name %></p>
<p>Year painted: <%= paiting.year_painted %></p>
<p>Oil painting?: <%= paiting.oil_painting %></p>
<% end %>